.text #text a{
    color:black;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
   
}

.text{
    width: 35%;
    line-height: 2;
   font-weight: 100;
}
#text1{
    padding-top: 2.5%;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 600px) {
    .text {
        width: 100%;
    }
    
    #text1 {
        padding-top: 5%;
        color:red;
    }
}