.swiper {
    width: 65%;
    height: 85vh;
  }

  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :root {
    --swiper-theme-color: pink;
}

.imgs{
    width: auto ;
    max-width: 100% ;
    height: 80% ;
}
@media (max-width: 600px) {
    .swiper {
        width: 100%;
        height: 50vh;
    }

    .imgs {
        width: 85%;
        max-width: 400px;
        height: 85%;
    }
}