.list {
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  color: black;
}
.aList {
  color: black;
  font-size: .9em;
}
.list:hover{
    background-color: pink;
}
.print{
    padding-top: 1em;
}